# Important data

In [1]:
import pandas as pd
import numpy as np

from sklearn import datasets
from sklearn.model_selection import train_test_split


from evidently.dashboard import Dashboard
from evidently.tabs import DataDriftTab, NumTargetDriftTab,CatTargetDriftTab

# Load reference data

In [2]:
reference_data = pd.read_csv("training_data.csv",
                                            header=None,
                                            names=[ "day{}".format(i) for i in range(0,14) ]+["target"] )

In [3]:
reference_data.head(5)

,day0,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,day11,day12,day13,target
0,1,1,0,0,0,0,1,1,0,0,0,1,0,0,0
1,1,0,0,0,0,1,1,0,0,0,1,0,0,0,1
2,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0
3,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1
4,0,0,1,1,0,0,0,1,0,0,0,1,0,1,1

# Get  Production Input Data

In [4]:
latest_input_data = pd.read_csv("to_score_input_data.csv",
                                            header=None,
                                            names=[ "day{}".format(i) for i in range(0,14) ] )

In [5]:
latest_input_data

,day0,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,day11,day12,day13
0,1,1,0,0,0,0,1,1,0,0,0,1,0,0
1,1,0,0,0,0,1,1,0,0,0,1,0,0,0
2,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,0,0,0,1,1,0,0,0,1,0,0,0,1,0
4,0,0,1,1,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,0,0,0,1,0,0,1,1,1,0,1,0,1,1
73,0,0,1,0,0,1,1,1,0,1,0,1,1,0
74,0,1,0,0,1,1,1,0,1,0,1,1,0,1
75,1,0,0,1,1,1,0,1,0,1,1,0,1,1
76,0,0,1,1,1,0,1,0,1,1,0,1,1,0

In [6]:
import mlflow

# Input Data Drift Check

In [7]:
EXPERIMENT_NAME="./reports_data_drift"
mlflow.set_experiment(EXPERIMENT_NAME)
with mlflow.start_run():
    drift_dashboard = Dashboard(tabs=[DataDriftTab])
    drift_dashboard.calculate(reference_data,latest_input_data)
    drift_dashboard.save(EXPERIMENT_NAME+"/input_data_drift.html")
    drift_dashboard._save_to_json(EXPERIMENT_NAME+"/input_data_drift.json")
    mlflow.log_artifacts(EXPERIMENT_NAME)